services:
  my-flomo-server:
    image: jerryshell/my-flomo-server:latest
    restart: unless-stopped
    environment:
      TZ: Asia/Shanghai
      PORT: 8060
      DSN: my-flomo.db
      JWT_KEY: YOUR_JWT_KEY
      CRON_SPEC: 0 20 * * *
      SMTP_HOST: smtp-mail.outlook.com
      SMTP_PORT: 587
      SMTP_USERNAME: YOUR_EMAIL
      SMTP_PASSWORD: YOUR_PASSWORD
      SMTP_SUBJECT: My Flomo 每日回顾
    ports:
      - 8060:8060
