apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-flomo-server
  labels:
    app: my-flomo-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-flomo-server
  template:
    metadata:
      labels:
        app: my-flomo-server
    spec:
      containers:
        - name: my-flomo-server
          image: jerryshell/my-flomo-server:latest
          envFrom:
            - configMapRef:
                name: my-flomo-server-secret
          env:
            - name: CRON_SPEC
              value: 0 20 * * *
            - name: PORT
              value: "8060"
            - name: TZ
              value: Asia/Shanghai
          ports:
            - name: http
              containerPort: 8060
          volumeMounts:
            - name: sqlite-data
              mountPath: /app/data
      volumes:
        - name: sqlite-data
          persistentVolumeClaim:
            claimName: my-flomo-server-pvc
