apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: my-flomo-server-pvc
  labels:
    app: my-flomo-server
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi